# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
prisma/seed.ts
# Build output
dist/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
